/*ITIS 3135 uiaccharlotte css file*/


body{
    margin: 0;
    background-color:rgb(0, 0, 0);
} 

    /* Navigation Bar */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Kumba Sans',sans-serif;
}

.navbar{
    background: black;
    height:80px;
    font-size: .9rem;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbarContainer{
    display:flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.logoImage{
    cursor: pointer;
    position:absolute;
    left: 2%;
    top: 0;
    margin-top: 6px;
    margin-right:10px;
    width:216px;
    height: 62px;
    display:flex;
}

.navbarMenu{
    display:flex;
    align-items:center;
    list-style:none;
    text-align: center;
}

.navbarItem{
    height: 80px;
}

.navbarLinks{
    color: white;
    display:flex;
    align-items:center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}




.search-bar{
    display:flex;
    position:relative;
    right: 0px;
    left:225px;
    width: 100px;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;

   
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: .09px;
    border-radius:55px;
    padding-left:10px;
    border-style:solid;
    border-color:rgb(68, 65, 65);
    outline: none;
    padding: 5px 20px;
    font-size: 16px;
    color:rgb(123, 116, 116);
}

.search-bar button img{
    width: 25px;
    cursor: pointer;
}

.search-bar button{
    border: 0;
    position:relative;
    left: 1px;
    width:40px;
    height: 24px;

}

.navbarLinks:hover{
    color:rgb(193, 144, 20);
    transition: all 0.3s ease;

}

    /* Main Section */
.slide{
    background-color: rgb(255, 251, 251);
    height: 120vh;
}
.h1{
    font-size:30px;
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 30%;
    display: flex;
    color:rgb(193, 144, 20);
}

.square{
    height:500px;
    width: 400px;
    box-shadow: 2px 5px 5px 5px rgba(9, 9, 9, 0.361);
    border-radius: 50px;
    display: flex;
    position:absolute;
    top: 30%;
    left: 32%;

}

.h2{
    position: absolute;
    top: 5%;
    left: 35%;

}

.selector{
    position:absolute;
    top: 15%;
    left:32%;
}

.selector:hover{
    border-style: solid;
    border-color:black;
    cursor: pointer;
}

.option{
    border-radius: 20px;
}

.p{
    font-size: 18px;
}

#p1{
    position:absolute;
    top:25%;
    left: 10%;
}

#p2{
    position:absolute;
    top:45%;
    left: 10%;
}

#p3{
    position:absolute;
    top:65%;
    left: 10%;
}

.amount{
    position:absolute;
    top:30%;
    left: 10%;
}

.amountInput{
    width: 300px;
    height: 35px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    font-size: 15px;
}

.name{
    position:absolute;
    top:51%;
    left: 10%; 
}

.nameInput{
    width: 300px;
    height: 35px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    font-size: 15px; 
}

.cardNumber{
    position:absolute;
    top:70%;
    left: 10%;
}

.cardInput{
    width: 300px;
    height: 35px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    font-size: 15px; 
}
  
.ymInput{
    width: 30px;
    position:absolute;
    top: 12%;
    right: 20%;
    height: 25px;  
    border-color: white;
    border-style: solid;
    font-size: 15px;
    border-color: rgba(255, 255, 255, 0);
}
.cvcInput{
    width: 30px;
    position:absolute;
    top: 10%;
    right: 5%;
    height: 25px;  
    border-color: white;
    border-style: solid;
    font-size: 15px;
    border-color: rgba(255, 255, 255, 0);
}

.button{
    position:absolute;
    top:85%;
    left: 30%;
    width: 150px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    background-color: rgb(193, 144, 20); 
    border-style: solid;
}

.button:hover{
    cursor:pointer;
}

.button:active{
    opacity: 80%;
}


    /* Footer */

.logoImage2{
    cursor: pointer;
    position:absolute;
    left: 3%;
    top: 145%;
    width:245px;
    height: 77px;
    display:flex;
    margin-bottom: 10px;
}

.h3{
    color:rgb(193, 144, 20);
    position:absolute;
    margin-top: 40px;
    left: 38.5%;
    font-size: 18px;
}

.footerLink1{
    color: white;
    display:flex;
    font-size: 14px;
    text-decoration: none;
    padding: 0 1rem;
    height: 14%;
    position:absolute;
    left:37.5%;
    margin-top:65px;
}

.h4{
    color:rgb(193, 144, 20);
    position:absolute;
    top:140%;
    left: 58.5%;
    font-size: 18px;
    display:flex;
}

.emailIcon{
    width: 20px;
    height:20px;
    position:absolute;
    left:55.5%;
}

.phoneIcon{
    width: 20px;
    height:20px;
    position:absolute;
    left:55.5%;
    top: 150%;
}
  
.emailAddress{
    color:white;
    font-size:14px;
    position: absolute;
    left:57.8%;
}

.phoneNumber{
    color:white;
    font-size:14px;
    margin-top:28px;
    position: absolute;
    left:57.8%;
}



